<!DOCTYPE html>
<html lang='en'>
  <head>
    <!-- Meta tags for mobile -->
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <meta name='apple-mobile-web-app-status-bar-style' content='black'>
    <meta name='viewport' content='initial-scale=1.25, user-scalable=no'>

    <meta charset='UTF-8'>
    <title>Profile</title>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' rel='stylesheet'/>
    <link href='../../style.css' rel='stylesheet'>
  </head>
  <body>
    <header class='bg-primary'>
      <div class='container'>
        <div class='row'>
          <div class='col-xs-1'>
            <span class='glyphicon glyphicon-menu-left'></span>
          </div>
          <div class='col-xs-5'>
            <h1>Widgets</h1>
          </div>
          <div class='col-xs-6'>
            <span class='glyphicon glyphicon-plus pull-right'></span>
          </div>
        </div>
      </div>
    </header>

    <!-- This is the God container -->
    <div class='container'>
    <h1>This is a heading</h1>
    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
    </p>
    </div>

    <footer class='bg-primary navbar-fixed-bottom'>
      <div class='container'>
        <span class='glyphicon glyphicon-user pull-right'></span>
      </div>
    </footer>
  </body>
</html>
