<header class='salb-bg-grey'>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-1'>
        <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget']"> <span class='glyphicon glyphicon-menu-left salb-glyphicon salb-dark'></span></a>
      </div>
      <div class='col-xs-5'>
        <h1>Widget Edit</h1>
      </div>
      <div class='col-xs-6'>
        <a (click)="updateWidget()"><span class='glyphicon glyphicon-ok pull-right salb-glyphicon salb-dark'></span></a>
      </div>
    </div>
  </div>
</header>
<div class="container big-boy">
  <div [ngSwitch]="widget.widgetType">
    <div *ngSwitchCase="'HEADING'">
      <app-widget-header></app-widget-header>
    </div>

    <div *ngSwitchCase="'IMAGE'">
      <app-widget-image></app-widget-image>
    </div>

    <div *ngSwitchCase="'YOUTUBE'">
      <app-widget-youtube></app-widget-youtube>
    </div>
    <div class='container'>
      <a (click)="deleteMe()"><button type='button' class='btn btn-danger btn-block'>Delete</button></a>
    </div>
  </div>
</div>

<footer class='salb-bg-grey navbar-fixed-bottom'>
  <div class='container'>
    <a [routerLink]="['/user', userId]"><span class='glyphicon glyphicon-user salb-blue pull-right salb-glyphicon'></span></a>
  </div>
</footer>
