<!DOCTYPE html>
<html lang='en'>
  <head>
    <!-- Meta tags for mobile -->
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <meta name='apple-mobile-web-app-status-bar-style' content='black'>
    <meta name='viewport' content='initial-scale=1.25, user-scalable=no'>

    <meta charset='UTF-8'>
    <title>Register</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
  </head>
  <body>
    <h1>Register</h1>
    <input type='text' class='form-control' placeholder='username'>
    <input type='password' class='form-control' placeholder='password'>
    <input type='password' class='form-control' placeholder='verify password'>
    <button type='button' class='btn btn-primary btn-block'>Register</button>
    <button type='button' class='btn btn-danger btn-block'>Cancel</button>
  </body>
</html>

