<header class='salb-bg-grey'>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-1'>
        <a [routerLink]="['/user', userId, 'website', websiteId, 'page']"><span class='glyphicon glyphicon-menu-left salb-glyphicon salb-dark'></span></a>
      </div>
      <div class='col-xs-5'>
        <h1>Widgets</h1>
      </div>
      <div class='col-xs-6'>
        <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', 'new']"><span class='glyphicon glyphicon-plus pull-right salb-glyphicon salb-dark'></span></a>
      </div>
    </div>
  </div>
</header>

<div class='container big-boy'>
  <div *ngFor="let widget of widgets">

    <div [ngSwitch]="widget.widgetType">

      <div *ngSwitchCase="'HEADING'">
        <div class='salb-widget'>
          <div class='salb-widget__box'>
            <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', widget._id]"><span class='glyphicon glyphicon-cog salb-glyphicon salb-blue'></span></a>
            <span class='glyphicon glyphicon-align-justify salb-glyphicon'></span>
          </div>
          <div [ngSwitch]="widget.size">
            <h1 *ngSwitchCase=1>{{widget.text}}</h1>
            <h2 *ngSwitchCase=2>{{widget.text}}</h2>
            <h3 *ngSwitchCase=3>{{widget.text}}</h3>
            <h4 *ngSwitchCase=4>{{widget.text}}</h4>
            <h5 *ngSwitchCase=5>{{widget.text}}</h5>
            <h6 *ngSwitchCase=6>{{widget.text}}</h6>
          </div>
        </div>
      </div>

      <div *ngSwitchCase="'YOUTUBE'">
        <div class='salb-widget'>
          <div class='salb-widget__box'>
            <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', widget._id]"><span class='glyphicon glyphicon-cog salb-glyphicon salb-blue'></span></a>
            <span class='glyphicon glyphicon-align-justify salb-glyphicon'></span>
          </div>
          <iframe width="100%" [style.width]="widget.width" height="480" src="https://www.youtube.com/embed/hu1JVTvzzxM" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

      <div *ngSwitchCase="'IMAGE'">
        <div class='salb-widget'>
          <div class='salb-widget__box'>
            <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', widget._id]"><span class='glyphicon glyphicon-cog salb-glyphicon salb-blue'></span></a>
            <span class='glyphicon glyphicon-align-justify salb-glyphicon'></span>
          </div>
          <img class="zlr-content" src={{widget.url}} [style.width]="widget.width"/>
        </div>
      </div>
    </div>
  </div>

  <footer class='salb-bg-grey navbar-fixed-bottom'>
    <div class='container'>
      <a [routerLink]="['/user', userId]"><span class='glyphicon glyphicon-user salb-blue pull-right salb-glyphicon'></span></a>
    </div>
  </footer>

