<header class='salb-bg-grey'>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-1'>
        <a [routerLink]="['/user', userId, 'website', websiteId, 'page']"><span class='glyphicon glyphicon-menu-left salb-glyphicon salb-dark'></span></a>
      </div>
      <div class='col-xs-5'>
        <h1>Widgets</h1>
      </div>
      <div class='col-xs-6'>
        <a href="widget-choose.html"><span class='glyphicon glyphicon-plus pull-right salb-glyphicon salb-dark'></span></a>
      </div>
    </div>
  </div>
</header>

<div class='container'>
  <div *ngFor="let widget of widgets">

    <div [ngSwitch]="widget.widgetType">

      <div *ngSwitchCase="'HEADING'">
        <div class='salb-widget'>
          <div class='salb-widget__box'>
            <a href="widget-heading.html"><span class='glyphicon glyphicon-cog salb-glyphicon salb-blue'></span></a>
            <span class='glyphicon glyphicon-align-justify salb-glyphicon'></span>
          </div>
          <h1>This is a heading</h1>
        </div>
      </div>

      <div *ngSwitchCase="'YOUTUBE'">
        <div class='salb-widget'>
          <div class='salb-widget__box'>
            <a href="widget-youtube.html"><span class='glyphicon glyphicon-cog salb-glyphicon salb-blue'></span></a>
            <span class='glyphicon glyphicon-align-justify salb-glyphicon'></span>
          </div>
          <iframe width="100%" height="480" src="https://www.youtube.com/embed/hu1JVTvzzxM" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

      <div *ngSwitchCase="'IMAGE'">
        <div class='salb-widget'>
          <div class='salb-widget__box'>
            <a href="widget-image.html"><span class='glyphicon glyphicon-cog salb-glyphicon salb-blue'></span></a>
            <span class='glyphicon glyphicon-align-justify salb-glyphicon'></span>
          </div>
          <img src='http://lorempixel.com/400/200/'>
        </div>
      </div>
    </div>
  </div>

  <footer class='salb-bg-grey navbar-fixed-bottom'>
    <div class='container'>
      <a [routerLink]="['/user', userId]"><span class='glyphicon glyphicon-user salb-blue pull-right salb-glyphicon'></span></a>
    </div>
  </footer>

