<header class='bg-primary'>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-1'>
        <a href="../user/profile.html"><span class='glyphicon glyphicon-menu-left salb-glyphicon'></span></a>
      </div>
      <div class='col-xs-8'>
        <h1>Websites</h1>
      </div>
      <div class='col-xs-1'>
        <a class='salb-white' [routerLink]="['./new']"><span class='glyphicon glyphicon-plus pull-right salb-glyphicon'></span></a>
      </div>
    </div>
  </div>
</header>

<div class='container'>
  <div class='row salb-padder' *ngFor="let website of websites">
    <div class='col-xs-8'>
      <a [routerLink]="['/user', userId, 'website', website._id, 'page']" >{{ website.name }}</a>
    </div>
    <div class='col-xs-4'>
      <a [routerLink]="['/user', userId, 'website', website._id]"><span class='glyphicon glyphicon-cog pull-right salb-blue'></span></a>
    </div>
  </div>
</div>

<footer class='bg-primary navbar-fixed-bottom'>
  <div class='container'>
    <a href="../user/profile.html"><span class='glyphicon glyphicon-user pull-right salb-glyphicon'></span></a>
  </div>
</footer>

