<div class='container big-boy'>
  <div ng-switch-when="TEXT">
    Text
    <input [(ngModel)]="text" name="text" class="form-control"/>
    Rows
    <input [(ngModel)]="row" name="row" class="form-control" type="number"/>
    Placeholder
    <input [(ngModel)]="placeholder" name="placeholder" class="form-control"/>
    Formatted
    <input [(ngModel)]="formatted" name="formatted" type="checkbox"/>
  <div *ngIf="errorFlag"
    class="alert alert-danger">
    Please fill out all of the fields
  </div>
  </div>
</div>

