<div class='homepage__background'>
<div class='homepage__background--blue'>
</div>
  <div class="container">
    <img src='assets/profile.png'>
    <h1>Spencer Bateman</h1>
    <h2>Webdev Fall 2017</h2>
    <p>I am an undergraduate student at Northeastern University. This is the hompage for my Web Development Class</p>
    <button class='btn btn-primary' [routerLink]="['/login']">Webdev Homework Assignment</button>
    <a href="https://docs.google.com/document/d/16MeghDGcKFpVvpTa3VdbIOvTmNSwLYoGWCZQCg3koFU/edit?usp=sharing"><button class='btn btn-primary'>Project Description</button></a>
    <a href='https://github.com/SpencerBateman'><button class='btn btn-primary'>My Github</button></a>
    <a href="https://mooodio.herokuapp.com"><button class='btn btn-primary'>Final Project</button></a>
    <a href="http://spencer.pizza"><button class='btn btn-primary'>Personal Site</button></a>
  </div>
</div>

