<header class='salb-bg-grey'>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-1'>
        <a [routerLink]="['/user', userId, 'website', websiteId, 'page']"><span class='glyphicon glyphicon-menu-left salb-glyphicon salb-dark'></span></a>
      </div>
      <div class='col-xs-5'>
        <h1>Edit Page</h1>
      </div>
      <div class='col-xs-6'>
        <a (click)="updatePage()"> <span class='glyphicon glyphicon-ok pull-right salb-glyphicon salb-dark'></span></a>
      </div>
    </div>
  </div>
</header>

<!-- This is the God container -->
<div class='container'>
  <h6>Name</h6>
  <input [(ngModel)]="pageName" name="pageName" type='text' class='form-control' placeholder='Name'>
  <h6>Title</h6>
  <input [(ngModel)]="pageDescription" name="pageDescription" type='text' class='form-control' placeholder='Page Title'>
  <a (click)="deletePage()"><button type='button' class='btn btn-danger btn-block'>Delete</button></a>
  <div *ngIf="errorFlag"
    class="alert alert-danger">
    Both fields are required
  </div>
</div>

<footer class='salb-bg-grey navbar-fixed-bottom'>
  <div class='container'>
    <a [routerLink]="['/profile']"><span class='glyphicon glyphicon-user salb-blue pull-right salb-glyphicon'></span></a>
  </div>
</footer>

