<header class='salb-bg-grey'>
  <div class='container'>
    <div class='row'>
      <div class="col-xs-1">
        <a href="../website/website-list.html"><span class='glyphicon glyphicon-menu-left pull-right salb-glyphicon salb-dark'></span></a>
      </div>
      <div class='col-xs-5'>
        <h1>Pages</h1>
      </div>
      <div class='col-xs-6'>
        <a href="page-list.html"><span class='glyphicon glyphicon-plus pull-right salb-glyphicon salb-dark'></span></a>
      </div>
    </div>
  </div>
</header>

<div class='container'>
  <div class='row salb-padder' *ngFor="let page of pages">
    <div class='col-xs-8'>
      <a [routerLink]="[]">{{ page.name }}</a>
    </div>
    <div class='col-xs-4'>
      <a [routerLink]="[page._id]"><span class='glyphicon glyphicon-cog pull-right salb-blue'></span></a>
    </div>
  </div>
</div>

<footer class='salb-bg-grey navbar-fixed-bottom'>
  <div class='container'>
    <a href="../user/profile.html"><span class='glyphicon glyphicon-user salb-blue pull-right salb-glyphicon'></span></a>
  </div>
</footer>

