<!DOCTYPE html>
<html lang='en'>
  <head>
    <!-- Meta tags for mobile -->
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <meta name='apple-mobile-web-app-status-bar-style' content='black'>
    <meta name='viewport' content='initial-scale=1.25, user-scalable=no'>

    <meta charset='UTF-8'>
    <title>Profile</title>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' rel='stylesheet'/>
    <link href='../../style.css' rel='stylesheet'>
  </head>
  <body>
    <header class='salb-bg-grey'>
      <div class='container'>
        <div class='row'>
          <div class='col-xs-1'>
            <a href="../user/profile.html"><span class='glyphicon glyphicon-menu-left salb-glyphicon salb-dark'></span></a>
          </div>
          <div class='col-xs-5'>
            <h1>New Page</h1>
          </div>
          <div class='col-xs-6'>
            <a href="page-list.html"><span class='glyphicon glyphicon-ok pull-right salb-glyphicon salb-dark'></span></a>
          </div>
        </div>
      </div>
    </header>

    <!-- This is the God container -->
    <div class='container'>
          <h6>Name</h6>
          <input type='text' class='form-control' placeholder='Name'>
          <h6>Title</h6>
          <input type='text' class='form-control' placeholder='Page Title'>
    </div>

    <footer class='salb-bg-grey navbar-fixed-bottom'>
      <div class='container'>
        <a href="../user/profile.html"><span class='glyphicon glyphicon-user salb-blue pull-right salb-glyphicon'></span></a>
      </div>
    </footer>
  </body>
</html>
