<!-- This is the God container -->
<div class='container'>
  <h6>Name</h6>
  <input [(ngModel)]="widgetName" name="widgetName" type='text' class='form-control' placeholder='Name'>
  <h6>Text</h6>
  <input [(ngModel)]="widgetText" name="widgetText" type='text' class='form-control' placeholder='Put your text here'>
  <h6>Size</h6>
  <input [(ngModel)]="widgetSize" name="widgetSize" type='text' class='form-control' placeholder='Size'>
  <a href="widget-list.html"><button type='button' class='btn btn-danger btn-block'>Delete</button></a>
</div>
