<header class='salb-bg-grey'>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-1'>
        <a href="widget-list.html"> <span class='glyphicon glyphicon-menu-left salb-glyphicon salb-dark'></span></a>
      </div>
      <div class='col-xs-5'>
        <h1>Widget Edit</h1>
      </div>
      <div class='col-xs-6'>
        <a href="widget-list.html"><span class='glyphicon glyphicon-ok pull-right salb-glyphicon salb-dark'></span></a>
      </div>
    </div>
  </div>
</header>

<!-- This is the God container -->
<div class='container'>
  <h6>Name</h6>
  <input type='text' class='form-control' placeholder='Name'>
  <h6>Text</h6>
  <input type='text' class='form-control' placeholder='Put your text here'>
  <h6>Size</h6>
  <input type='text' class='form-control' placeholder='Size'>
  <a href="widget-list.html"><button type='button' class='btn btn-danger btn-block'>Delete</button></a>
</div>

<footer class='salb-bg-grey navbar-fixed-bottom'>
  <div class='container'>
    <a href="../user/profile.html"><span class='glyphicon glyphicon-user salb-blue pull-right salb-glyphicon'></span></a>
  </div>
</footer>
