<header class='bg-primary'>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-2 col-sm-1'>
        <a [routerLink]="['/user', userId, 'website']"><span class='glyphicon glyphicon-menu-left salb-glyphicon'></span></a>
      </div>
      <div class='col-sm-3 hidden-xs'>
        <h1>Websites</h1>
      </div>
      <div class='col-xs-8 col-sm-7'>
        <h1>New Website</h1>
      </div>
      <div class='col-xs-2 col-sm-1'>
        <span (click)='createWebsite()' class='glyphicon glyphicon-ok pull-right salb-glyphicon'></span>
      </div>
    </div>
  </div>
</header>

<!-- This is the God container -->
<div class='container big-boy'>
  <div class='row'>
    <div class='col-sm-4 hidden-xs'>
      <div class='row salb-padder' *ngFor="let website of websites">
        <div class='col-xs-8'>
          <a [routerLink]="['/user', userId, 'website', website._id, 'page']" >{{ website.name }}</a>
        </div>
        <div class='col-xs-4'>
          <a [routerLink]="['/user', userId, 'website', website._id]"><span class='glyphicon glyphicon-cog pull-right salb-blue'></span></a>
        </div>
      </div>
    </div>
    <div class='col-sm-8 col-xs-12'>
      <h6>Name</h6>
      <input name="websiteName" [(ngModel)]="websiteName" type='text' class='form-control' placeholder='Name'>
      <h6>Description</h6>
      <textarea name="websiteDescription" [(ngModel)]="websiteDescription" type='text' rows="4" class='form-control' placeholder='Description'></textarea>
  <div *ngIf="errorFlag"
    class="alert alert-danger">
    Both fields are required
  </div>
    </div>

  </div>
</div>

<footer class='bg-primary navbar-fixed-bottom'>
  <div class='container'>
    <a href="../user/profile.html"><span class='glyphicon glyphicon-user pull-right salb-glyphicon'></span></a>
  </div>
</footer>
